<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>efapiao.manage</display-name>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			classpath*:/applicationContext*.xml,
			classpath*:/spring/applicationContext-*.xml,
			classpath*:/distributed/applicationContext-*.xml
		</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>springMVC</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:rdpContext-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springMVC</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>

  
  <context-param>
    <param-name>configpath</param-name>
    <param-value>classpath{com/rongzer/reportconfig}</param-value>
  </context-param>
  <listener>
    <listener-class>com.wabacus.WabacusServlet</listener-class>
  </listener>
  <servlet>
    <servlet-name>reportservlet</servlet-name>
    <servlet-class>com.wabacus.WabacusServlet</servlet-class>
    <init-param>
      <param-name>configpath</param-name>
      <param-value>classpath{/com/rongzer/reportconfig}</param-value>
    </init-param>
    <load-on-startup>20</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>reportservlet</servlet-name>
    <url-pattern>/ShowReport.wx</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>wabacus</taglib-uri>
      <taglib-location>/WEB-INF/tld/wabacus.tld</taglib-location>
    </taglib>
  </jsp-config>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <filter>
      <filter-name>sessionFilter</filter-name>
      <filter-class>com.rongzer.efapiao.filter.SessionFilter</filter-class>
  </filter>
    <filter-mapping>
        <filter-name>sessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	<!-- <filter>  
        <filter-name>XssEscape</filter-name>  
        <filter-class>com.rongzer.rdp.web.util.XssFilter</filter-class>  
    </filter>  
    <filter-mapping>
        <filter-name>XssEscape</filter-name>  
        <url-pattern>/*</url-pattern>  
        <dispatcher>REQUEST</dispatcher>  
        <dispatcher>FORWARD</dispatcher>  
        <dispatcher>INCLUDE</dispatcher>  
        <dispatcher>ERROR</dispatcher>  
    </filter-mapping>  -->
  <filter>
    <filter-name>ecSessionFilter</filter-name>
    <filter-class>com.rongzer.ecservice.common.ECSessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ecSessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>